/* ----------------
   nav section responsive
-------------------*/



/* ----------------
   Responsive banner section
-------------------*/

@media screen and (max-width: 668px) {
    .banner {
        width: 95%;
        display: flex;
        flex-direction: column-reverse;
    }

    ul li a {
        display: none;
    }

    .banner-info h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.4rem;
        width: 100%;
        text-align: center;
    }

    .banner-info p {
        text-align: center;
    }

    .btn {
        margin-left: 20%;
    }

    .banner-image {
        width: 100%;
    }

    .banner-info {
        width: 100%;
    }

}

@media screen and (min-width: 669px) and (max-width:992px) {

    ul li a {
        display: none;
    }

    .banner {
        width: 100%;
        display: flex;

    }

    .banner-info h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-left: 10%;
    }

    .banner-info p {
        margin-left: 10%;
    }

    .btn {
        margin-left: 30%;
    }

    .banner-image {
        width: 50%;
    }

    .banner-info {
        width: 50%;
    }
}



/* ----------------
   Responsive partners section
-------------------*/
@media screen and (max-width: 668px) {

    .partners_Area {
        flex-wrap: wrap;
        margin: 50px 50px;

    }
}

@media screen and (min-width: 669px) and (max-width:992px) {
    .partners_Area {
        flex-wrap: wrap;

    }
}

/* ----------------
   Responsive products section
-------------------*/

@media screen and (max-width: 668px) {
    .products_area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 10%;

    }

    .product_collections {
        margin-top: 10%;
    }

}

@media screen and (min-width: 669px) and (max-width:992px) {
    .products_area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;

    }
}

/* ----------------
  Featured section style 
-------------------*/

@media screen and (max-width: 668px) {

    .featured_container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .featured_image {
        width: 100%;
    }

    .featured_text {
        width: 100%;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 5%;

    }

    .featured_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }


    .featured_text p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 669px) and (max-width:992px) {
    .featured_container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .featured_image {
        width: 100%;
    }

    .featured_text {
        width: 100%;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 5%;

    }

    .featured_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1.9rem;
        margin-bottom: 10px;
    }


    .featured_text p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 10px;
    }
}